.rosepine {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --text: #e0def4;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
}

.tokyo-night {
  --color-text: #c0caf5;
  --color-border: #202330;
  --color-header: #10101a;
  --color-panel1: #16161e;
  --color-panel2: #1a1b26;
  --color-sidebar: #202330;
}
